@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
text-align: center;
margin: 0 auto;
background-color: #393939;
color: #FCB704;
font-size: 1.1rem;
line-height: 1.5;
min-width:460px;
}
main{
display: flex;
flex-direction: column;
justify-content: center;
background-color: #525252;
color: #FCB704;
min-width: 400px;
}
#main{
margin: 30px 8px;
padding: 15px;
border-radius: 5px;
max-width: 100%;
}
img{
  display: block;
  width: max(700px, 70vw);
  padding: 0 2rem 0 2rem;
 
}
#image{
margin: 0 auto;
max-width: 100%;
}

#img-div{
  margin: 0 ;
  padding: 10px;
  background-color: #393939;
}
#img-caption{
  margin: 15px 0 5px;
}
.titulo{
  width: 100%;
  height: 20%;
  background-color: #525252;
  border-radius: 3px;
  
}
h1{
  margin: 0;
  font-size: 3rem;
}
p{
  margin-left: 25vw;
  margin-right: 25vw;
}
.bold{
font-weight: bold;
}
ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  
}
li{
  margin: 16px 0 0 0 ;
}
#tribute-info{
  margin:0;
  margin-left: 20vw;
  margin-right: 20vw;
}
blockquote{
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-style: italic;
  text-align: left;
}
@media screen and (max-width: 760px) {
  #tribute-info {
     margin:0;
  margin-left: 1vw;
  margin-right: 1vw;
  }
} 